<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .AppName }}</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <span class="icon-text">
        <span class="icon">
        <i class="fas fa-cogs"></i>
        </span>
        <span>{{ .AppName }}</span>
        </span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item" href="/config">
        Config
      </a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-end">
      <div class="navbar-item">
        <a href="{{ .GitURL }}">
            <span class="icon-text">
            <span class="icon">
            <i class="fab fa-github"></i>
            </span>
            <span>{{ .GitRepo }}</span>
            </span>
        </a>
      </div>
    </div>
</nav>
<section class="hero is-small is-info">
  <div class="hero-body">
    <p class="title">{{ .AppName }}</p>
    <p class="subtitle">{{ .GitRepo }}</p>
  </div>
</section><br>
<div class="content">
  <ol class="is-lower-alpha">
        <li>{{ .Item1 }}</li>
        <li>{{ .Item2 }}</li>
        <li>{{ .Item3 }}</li>
        <li>{{ .Item4 }}</li>
   </ol>
</body>
</html>