# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Publish Docker image

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

env:
  AWS_REGION: us-east-1      
jobs:
  build:
    name: build and publish Docker image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
      attestations: write
      id-token: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - name: Get version
        id: versions
        run: |
          version=$(<VERSION)
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "snapshot-version=${version}-$(git log --format=%h -1)" >> $GITHUB_OUTPUT

      - name: Check if Tag Exists
        id: check_tag
        run: |
          git ls-remote --exit-code --tags origin '${{ steps.versions.outputs.version }}' && found=true
          if [[ "${found}" == "true" ]]; then
            echo "::error::The ${{ steps.versions.outputs.version }} tag already exists. Please update the version and changelog."
            exit 1
          fi
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::070936606018:role/gha_ecr_role
      - name: Log in to AWS ACR Public
        uses: aws-actions/amazon-ecr-login@v2    
        with:
          registry-type: public
      
      - name: set up goreleaser args
        id: goreleaser-args
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "args=--snapshot --skip-publish" >> $GITHUB_OUTPUT
          else
            echo "args= " >> $GITHUB_OUTPUT
          fi
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: v2
          args: release --clean ${{ steps.goreleaser-args.outputs.args }}


      # --- IGNORE ---
      # - name: Log in to Docker Hub
      #   uses: docker/login-action@v3.6.0
      #   with:
      #     registry: public.ecr.aws
      #     username: ${{ env.AWS_ACCESS_KEY_ID }}
      #     password: ${{ env.AWS_SECRET_ACCESS_KEY }}

      # - name: Extract metadata (tags, labels) for Docker
      #   id: meta
      #   uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
      #   with:
      #     images: my-docker-hub-namespace/my-docker-hub-repository

      # - name: Build and push Docker image
      #   id: push
      #   uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
      #   with:
      #     context: .
      #     file: ./Dockerfile
      #     push: true
      #     tags: ${{ steps.meta.outputs.tags }}
      #     labels: ${{ steps.meta.outputs.labels }}

      # - name: Generate artifact attestation
      #   uses: actions/attest-build-provenance@v3
      #   with:
      #     subject-name: index.docker.io/my-docker-hub-namespace/my-docker-hub-repository
      #     subject-digest: ${{ steps.push.outputs.digest }}
      #     push-to-registry: true
